######################
/assets
/protected/config/local.php
/protected/config/data
/protected/config/db.json
/protected/data/data_fresh.sql
/protected/runtime/
/protected/scripts/data/dbchanges.txt
/protected/scripts/data/lastIndexer.txt
/protected/scripts/data/lastdataset.txt
/protected/scripts/set_env.sh
/Logs
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*~
.*.swp
.idea
build.properties
